<footer class="site-footer">

  	<div class="footer-col-1">
        <p id="social-media-large">
        	Want to chat?&nbsp;&nbsp;&nbsp;              
          <a href="mailto:doria.keung@gmail.com?Subject=Hello"><img src="/images/email.png"></a>
          &nbsp;&nbsp;
          <a href="https://www.facebook.com/doria.keung"><img src="/images/facebook.png"></a>
          &nbsp;&nbsp;
          <a href="https://ca.linkedin.com/in/doriakeung"><img src="/images/linkedin.png"></a>
          &nbsp;&nbsp;
          <a href=""><img src="/images/github.png"></a>
         </p>
        <p id="social-media-small">
        	Want to chat?<br>            
          <a href="mailto:doria.keung@gmail.com?Subject=Hello"><img src="/images/email.png"></a>
          &nbsp;&nbsp;
          <a href="https://www.facebook.com/doria.keung"><img src="/images/facebook.png"></a>
          &nbsp;&nbsp;
          <a href="https://ca.linkedin.com/in/doriakeung"><img src="/images/linkedin.png"></a>
          &nbsp;&nbsp;
          <a href=""><img src="/images/github.png"></a>
         </p>
  	</div>

</footer>
